[2022-08-25 18:53] Shubhambawner commented on #2250
I tried that too at the very beginning, but after running each script manually the start command gives error:
![image](https://user-images.githubusercontent.com/73178780/186745560-c96e2c00-9a88-49db-b989-1bd3d6e9e8a0.png)

[2022-08-25 19:22] jdrush89 commented on #2270
@siddharthkp it looks like I'm able to reproduce in your codesandbox if the button is the first thing I click. If I tab into the focusZone before clicking then it's not updating. This isn't the behavior I'm seeing on the ReposFileTree though, the expand/collapse buttons are always changing their tabIndex to 0 when clicked regardless of whether the focus has been moved into the focusZone. My guess

[2022-08-26 08:31] siddharthkp commented on #2250
Ah right, same story after installation as well. We haven't tested this on windows at all to know all the breaking points, so I don't know how to help you here 😢

@colebemis any ideas?

[2022-08-26 09:19] siddharthkp commented on #2270
I'm still most, I think we should pair on this :)

[2022-08-26 16:48] jdrush89 commented on #2270
@siddharthkp sounds good, I'm down to pair next week!

[2022-08-26 21:11] jsoref commented on #1904
I'll send a PR

[2022-08-27 11:53] DJMcNab commented on #2245
I *believe* it would. I don't have any context to know if the non-esm versions are required elsewhere.

If my understanding is correct, this should be broken for any users of `@primer/react` who are either in a node environment, or are using `require("@primer/react")`.
Note that this works for web environments using import, because they don't match the `"node"` condition:

https://github.com/prime

[2022-08-27 16:25] deleonjuan opened #2281 "FeatureRequest: SelectPanel without save and cancel buttons"
**Describe the bug**
Recently the SelectPanel component was updated to add cancel and save buttons at the bottom of the component, this is great but in some cases i think it's innecesary (for example when you can only select 1 option instead of an array, due the component allows to do that) so...
a prop that allows hide or show the buttons can be usefull
or even maybe a bottom prop, so the dev can

[2022-08-28 08:54] Shubhambawner commented on #2250
I m really not able to figure out the setup for windows, shall I put it on [discussion ](https://github.com/primer/react/discussions)?

[2022-08-29 08:20] siddharthkp commented on #2250
Yep, good call!

It does. I know some folks use codespaces instead of a local clone, that should work for you as well

<img width="598" alt="image" src="https://user-images.githubusercontent.com/1863771/187156786-aba83a1a-4ea4-4671-8a4f-ac0386c911a6.png">

[2022-08-29 08:37] siddharthkp commented on #2270
Done, sent you an invite :)

[2022-08-29 15:56] lesliecdubs commented on #1802
No one is actively asking for this right now so we're going to close for the moment. Let's reopen if needed.

[2022-08-29 15:56] #1802 closed

[2022-08-29 16:02] lesliecdubs commented on #2267
Hi there! I think there's two concerns in this issue; for our own tracking purposes, I'm going to split them out so we can better address them directly. Thanks!

[2022-08-29 16:04] lesliecdubs opened #2286 "SegmentedButton - sx props do not apply"
**Describe the bug**
As originally reported in https://github.com/primer/react/issues/2267:

I'd like to be able to specify the SegmentedControl.Button as a `small` size as I can with other buttons
`size` is not a supported prop of `SegmentedControl.Button` - so I tried setting the fontSize through sx prop and it still has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http

[2022-08-30 14:15] milemons commented on #2267
Hello @mperrotti! We are trying to use segmented button on a page to toggle between Code/Blame views. The designs currently have all buttons specified to size small since large buttons would take up too much space. Feel free to poke at the designs [on the figma](https://www.figma.com/proto/1vWZ5yWmuaCkhoNTg1VSFa/branch/ouIw03ODgxE2M0KhHWec4G/Code-Nav-%26-Repo-Overview?page-id=1057%3A110372&node-id

[2022-08-30 18:03] joshblack opened #2291 "Support TypeScript > v4.5"
Starting in `typescript@>4.5`, we receive type errors in the following files:

- `src/AvatarPair.tsx`
- `src/deprecated/ChoiceInputField.tsx`
- `src/deprecated/InputField/InputField.tsx`
- `src/FormControl/FormControl.tsx`

<details>
<summary>Error message</summary>

[code]
</details>

The goal of this PR is to support TypeScripts versions >4.5, I believe addressing this will result in support for

[2022-08-30 18:57] #2256 closed

[2022-08-30 19:29] AntonioMeireles commented on #2256
@joshblack, et all

sorry the bluntness, but the approach that was taken here **IMHO** is absolutelly bonkers, specially given what  one would expect from GitHub, and doesn't bode well for any sane mind (outside GitHub's corporate scope) to bet a dime, long term, in this library.

let's see - on one side @radix-ui/react-polymorphic was deprecated and later sunseted by its upstream because they fou

[2022-08-31 10:17] siddharthkp commented on #2229
Relevant: https://github.com/github/docs-engineering/issues/2110#issuecomment-1228940095

[2022-08-31 15:12] mattcosta7 opened #2293 "ActionMenu+ActionList Accessibility issues"
**Describe the bug**

We recevied a report from a user using an NVDA screen reader on latest firefox and chrome

Also, the li items with role="menuitem" (ActionList.LinkItem) are not being used correctly since they are not focusable. Instead, focus is on the anchors inside, which means the screen reader may not announce it's a menu item at all. That's the case for NVDA.

**Expected behavior**
User

[2022-09-01 20:10] jbrown1618 opened #2298 "SegmentedControl.Button should support `as` prop, similar to Button"
**Describe the bug**

We have designs that require us to use a segmented button control to navigate between pages. Semantically, and for accessibility reasons, these should be rendered as `a` tags, but this component forces us to use `button` tags.

I would like to do something like this:

[code]

**Expected behavior**

Ideally, the props for this component would simply extend the Button props.

*

[2022-09-02 15:10] iansan5653 opened #2303 "Add support for selecting `ActionMenu` items without closing the menu"
`ActionMenu` automatically closes the menu by default when any menu item is selected.

However, there are some instances when this behavior provides a poor user experience. For example, if you have a list item that you want to allow users to reorder, you might have an `ActionList` with "Move up" and "Move down" buttons. It would be painstaking to move an item more than one slot because the menu wo

[2022-09-02 16:54] lindseywild commented on #2303
Hi there! I just wanted to pop in from the Accessibility team (this issue popped up somewhere in Slack and I happened to see it) - an element with `role="menu` cannot remain open when an action is taken. One of the fundamental rules of a "menu" pattern is for it to close. If this functionality is desired, it shouldn't be using `role="menu"` but I don't have an alternate suggestion at the time. I h

[2022-09-02 18:01] iansan5653 commented on #2303
Interesting, thanks for the info! I dug into the spec for this and just to add more context to support your point:

Do you think that some text indicating this functionality might be enough to resolve the issue? For example, a description saying something like "Press Shift+Enter to active and keep menu open". This would still close the menu under normal functionality, so users will get the expecte

[2022-09-02 18:37] lindseywild commented on #2303
@iansan5653 thanks for digging around for more context 😄

Ah, I see what you're saying. Thinking through it quickly, I don't think adding text explaining the behavior would work, because how would mouse users trigger the alternate action? I know they could just drag & drop the rows/columns themselves, but if they wanted to use the menu in the fashion you are suggesting, they wouldn't be able to. A

[2022-09-04 12:38] sauravlikhar opened #2306 "Is there any option for hiding the breadcrumb on deep nesting?"
In our use case we will have many items in the breadcrumbs. We want to hide the middle ones when the total breadcrumbs length exceeds the container width.
In more detail -
Currently breadcrumbs are shown like this -
This is the breadcrumb item1 / This is the breadcrumb item2 / This is the breadcrumb item3 / This is the breadcrumb item4 / This is the breadcrumb item5

We want the middle ones to hid

[2022-09-06 18:33] iansan5653 opened #2313 "🐛 `MarkdownViewer` incorrectly parses task items in `1. - [ ]` format"
This issue was originally reported as https://github.com/github/memex/issues/11844

When a Markdown task list has items delimited with both a number _and_ a dash or asterisk, the `MarkdownViewer` component fails to recognize the items and thus incorrectly checks the wrong list items:

https://user-images.githubusercontent.com/1062491/188623750-56d3a607-b7f5-4b2f-b8be-233a85e96bc5.mov

This is a dr

[2022-09-06 18:47] iansan5653 commented on #2303
Going to close this based on the discussion here and with the accessibility team. We will find an alternate solution!

[2022-09-06 18:47] #2303 closed

[2022-09-07 16:22] willglas opened #2316 "`useMnemonics` hook should ignore keydown events from `textarea` elements"
### Description

When a `textarea` element is rendered inside of an `ActionMenu.Overlay` with some named buttons, random buttons will get focused as the user is typing. This is because the `useMnemonics` hook ignores keydown events from `input` elements but not `textarea` elements here:

https://github.com/primer/react/blob/main/src/hooks/useMnemonics.ts#L40

### Steps to reproduce

1. Render a `t

[2022-09-09 15:48] iansan5653 opened #2319 "`TabNav` should exclude buttons within tabs from the focus zone"
`TabNav` creates an automatic focus zone where focusing from tab to tab is performed via the arrow keys. This makes sense and matches the behavior recommended in the corresponding [ARIA authoring guide](https://www.w3.org/WAI/ARIA/apg/example-index/tabs/tabs-manual.html).

However, there do exist tabs that have buttons inside them. For example, a tab might have a "close" button or a "menu" button.

[2022-09-09 15:52] iansan5653 commented on #2313
A note from our FR from the original issue:

[2022-09-12 23:41] lesliecdubs commented on #2293
Thanks for the report! We'll try to pick this up when we have some bandwidth.

[2022-09-12 23:43] lesliecdubs commented on #2281
Thanks for writing this up!

@alliethu could you take a look at this request from the accessibility design perspective and let us know if this pattern without the save and cancel buttons would still be accessible?

[2022-09-12 23:47] lesliecdubs commented on #2298
Thanks for reporting @jbrown1618. Since this isn't a pattern that's currently supported by the component, I wonder whether this is the best design approach for this problem. @tallys could you take a look at this and weigh in, or perhaps we can get connected with the designer who worked on this?

[2022-09-12 23:52] lesliecdubs commented on #2319
I'd like to nominate @hectahertz to take a look at this proposal and let us know what he thinks! Thanks @iansan5653, we'll get back to you.

[2022-09-13 07:30] siddharthkp opened #2328 "please ignore, testing add_to_inbox workflow"
testing https://github.com/primer/react/blob/main/.github/workflows/add_to_inbox.yml

[2022-09-14 04:58] lesliecdubs commented on #1979
Hey @dusave, I'm so sorry we didn't get back to you on this much sooner! Apologies 🙏🏻

Are you able to confirm this is still a problem?

[2022-09-14 05:03] lesliecdubs commented on #1980
I'm so sorry this never got a response @dusave! Our automation must have failed for a short while so this didn't end up on our project board for triage.

If this suggestion is still of interest, I'd suggest we engage Primer designers on this request. @tallys how would you suggest we proceed?

[2022-09-14 16:32] alliethu commented on #2281
👋 @deleonjuan I recorded a call with @jscholes, one of our Screen reader expert consultants, to explore your proposal.

[📹 Our meeting recording](https://github.rewatch.com/video/83pphln1ypzln265-james-allie-selectpanel-chat-september-13-2022)

User scenario:
A user activates a selectPanel, clicks/presses to select an option, the option is automatically saved, and the dialog closes.

As @jscholes

[2022-09-14 17:12] jscholes commented on #2281
@alliethu Just to clarify: keyboard users don't need to press Enter to select an option, and then Tab to "Save".  Having Enter choose an item and close the select panel is fine, it's just non-obvious to users who don't know they can do so.  So for those users, they must be able to arrow to an option, and discover the "Save" button.

[2022-09-14 17:36] alliethu commented on #2281
Thank you for that clarification, @jscholes!

[2022-09-15 02:16] jdrush89 commented on #2270
@siddharthkp I think that works, I can update the buttons to be spans for now.

[2022-09-15 17:28] jdrush89 opened #2340 "focus gets stuck in TabNav focuszone within ActionMenu.Overlay"
### Description

If I have a TabNav within an ActionMenu.Overlay and focusable items above and below it, focus can get stuck in the TabNav and I will be unable to navigate to the top item. It seems like there is a top level focuszone for the overlay and another focuszone within the TabNav. When focus moves into the tabnav, the top level focuszone expects it to move to the rightmost tab, but the ta

[2022-09-15 23:28] broccolinisoup opened #2342 "Release SelectPanel accessibility improvements as a draft component"
SelectPanel introduced [breaking behavioural changes](https://github.com/primer/react/commit/ace38afb0f469f93fbfea0df488e688005609a62) in [v35.8.0](https://github.com/primer/react/releases/tag/v35.8.0) and that caused issues for consumers. So [we decided to rollback these changes](https://docs.google.com/document/d/1XROq7mBumWcKlSg1_Acj3FXZrhDN1oD4ekL3xv7Hrlw/edit?disco=AAAAaiG_0gY) (see [the PR](

[2022-09-16 07:48] bolonio commented on #2342
What were the breaking changes? I remember @hectahertz making the prop `title` optional to avoid breaking changes.

[2022-09-16 11:13] broccolinisoup commented on #2342
Hi @bolonio 👋🏼 it was more like a breaking **behavioural**  changes as in introducing save and cancel buttons yet we received some feedback from memex team regarding some issues around it. Please see [this issue](https://github.com/github/memex/issues/11943) for more.

This is why we decided to move the SelectPanel changes to a draft component and by doing that, we wouldn't be blocking our consume

[2022-09-16 14:42] siddharthkp commented on #2342
Hi!

To make sure folks we don't block folks from getting fixes and features in new releases, the process is to clone that component and import it from a different path, and keep both in the library in a non breaking way:

[code]

That's the bug/feature with this approach. Each instance of the current SelectPanel can be moved to the new SelectPanel one at a time, making sure it works and is access

[2022-09-16 15:27] inkblotty commented on #2342
Thank you @siddharthkp ! I appreciate the clear process here.

When it comes to evaluating the feature changes that are causing the "draft" state, what is the process?

[2022-09-19 05:31] hyochan opened #2346 "Test error on @primer/react/lib/drafts/hooks/useCombobox.js"
### Description

I am facing a test error after installing the package.

[code]

<img width="1555" alt="Screen Shot 2022-09-19 at 2 29 08 PM" src="https://user-images.githubusercontent.com/27461460/190954660-b4bdc736-ac83-4453-b17f-4ef51b004233.png">

I am currently using `vitest`. Can I get any clue on the error? I've also tried mocking.

### Steps to reproduce

1. Clone project
[code]
2. Install

[2022-09-19 07:08] sauravlikhar commented on #2306
Is there any update on this question? Our product needs this functionality.

[2022-09-19 09:28] bolonio commented on #2342
Hi everyone, I would like to give some context here about those "breaking behavioral changes that we introduced to the SelectPanel to be accessible".

We, @hectahertz and I, did the [Primer React SelectPanel - A11y engineering review](https://github.com/github/primer/issues/1021) with the help of our accessibility consultant @jscholes, and there are a couple of things related with those "behaviora

[2022-09-19 16:34] mperrotti commented on #2286
Planning to work on this bug this week.

[2022-09-19 16:35] mperrotti commented on #2267
Thanks @milemons and @colinwm, and sorry for the delayed response. I'm planning to add size options this week. I'll post an update when the PR is up.

[2022-09-19 17:55] lesliecdubs commented on #2286
Thanks for the update @mperrotti! I moved this into ["Up Next: Design" on the Primer teams backlog](https://github.com/orgs/github/projects/4503/views/10?filterQuery=label%3Areact+segmentedbutton) to match the status. I'd definitely focus on #2286 first, unless you'd rather the team handle this new size through the `sx` prop in the longer term.

[2022-09-19 18:28] mperrotti commented on #2267
A PR has been opened: https://github.com/primer/react/pull/2347

[2022-09-19 18:42] #2267 closed

[2022-09-19 18:42] mperrotti commented on #2286
@lesliecdubs - I'd rather the team use the `size` prop. A PR has been merged to support the `size` prop: https://github.com/primer/react/pull/2347

[2022-09-19 19:23] mperrotti commented on #2267
The PR has been merged and the `size` prop will be available on `SegmentedControl` in the next `@primer/react` release.

[2022-09-19 22:51] broccolinisoup commented on #2342
Hi everyone,
Sorry my wording on the ticket description was misleading.
The main reason we need to revert the SelectPanel changes is due to our promise not introducing any breaking changes in the minor releases. (Also following [Semver](https://semver.org/#summary)) However, mistakenly, we released SelectPanel changes with a minor release so we need to take this back to unblock folks and follow Se

[2022-09-20 09:24] cbix opened #2351 "Button props spilling to DOM element"
### Description

The Button props `leadingIcon`, `trailingIcon`, `variant` and `size` are being passed down to the `button` or custom (polymorphic) component, leading to React warnings like
[code]

This happens because these props are not destructured like the others, however they serve no purpose outside the `ButtonBase` logic:

https://github.com/primer/react/blob/9eaa37e98b8cd12a0b953f190bcbff0

[2022-09-20 14:43] davekenn commented on #2340
We are hitting this in our updated react version of the code navigation, which we will be opening up to customers for Universe.

[2022-09-20 16:43] inkblotty commented on #2342
@broccolinisoup - This makes total sense. Thank you for clarifying, and let us know if you need the Accessibility Team to support.

[2022-09-20 20:24] #2286 closed

[2022-09-20 20:59] broccolinisoup commented on #2342
Thank you!! @inkblotty

[2022-09-21 10:13] bolonio commented on #2342
Thanks @broccolinisoup for the explanation :) As @inkblotty said and repeating myself:

[2022-09-21 15:07] iansan5653 commented on #2319
Hi @lesliecdubs & @hectahertz - just following up on this issue. Any updates here? I'd really like to get this resolved because it's a significant accessibility concern in Projects.

[2022-09-23 00:17] lesliecdubs commented on #2319
Hi @iansan5653, thanks for pinging again and really sorry about the delay - Héctor is out sick.

I see you've gotten accessibility team guidance on this approach and it doesn't sound like it will cause a breaking change. @primer/react-reviewers should feel free to check me on this, but my assumption is that we would welcome a PR for this.

[2022-09-23 00:51] lesliecdubs commented on #2340
Thanks for filing, and for adding the Universe context @davekenn.

Is it possible this is a duplicate of https://github.com/primer/react/issues/2319? If so, there may be a fix in the works there.

Regardless, we'll plan to triage this at our team sync on Monday Sept 26 and get someone assigned to address this if there hasn't already been movement on a solution in #2319.

[2022-09-23 00:58] lesliecdubs commented on #2306
Hello @sauravlikhar, thanks for your patience with our response! I don't believe the Primer React Breadcrumbs currently include this functionality.

Perhaps the `Truncate` component would be useful in building out that functionality in your app: https://primer.style/react/Truncate

[2022-09-23 01:10] lesliecdubs commented on #2281
Thanks for the accessibility review!

Given that this proposal would lead us to implementing an inaccessible design pattern, it's not something we'll be moving forward with. Please feel free to comment back, even once this issue is closed, if there are further questions or concerns.

[2022-09-23 01:10] #2281 closed

[2022-09-23 07:43] six7 commented on #2281
I'd like to challenge this and ask if we can find a solution to this without the Save button. Are there some cues we can give users that pressing Enter would select and Close?

I'm all for adding the Save button if it leads to a more accessible experience, but one of our main customer complaints is that it requires a lot of clicks to do something.

A competitor of ours, Linear, uses a pattern that

[2022-09-23 14:30] iansan5653 commented on #2340
This doesn't look like a duplicate of #2319 - that's related to focuseable elements inside tabs, while this is related to tabs inside overlays (if I understand correctly).

[2022-09-23 14:33] iansan5653 commented on #2319
Great, I'll work on it!

[2022-09-23 15:06] iansan5653 opened #2363 "Add a prop to disable link pasting in `MarkdownEditor`"
The `paste-markdown` package was [recently updated](https://github.com/github/paste-markdown/pull/68) to add settings to control link-pasting behavior.

We should add a corresponding prop to the `MarkdownEditor` component to forward this setting out so that consumers can control the behavior. In downstream usages, this prop will be powered by the new "URL paste behavior" [accessibility user settin

[2022-09-23 18:06] #2363 closed

[2022-09-23 18:09] jfuchs opened #2369 "SideNav inconsistently updates when its theme provider's colormode updates"
### Description

SideNav inconsistently updates when its theme provider's colormode updates

### Steps to reproduce

See https://codesandbox.io/s/hopeful-bhaskara-ny6prv?file=/src/App.tsx

You should start on day. Click on night, then go back to day.
Then the sidenav will have retained some (but not all) of the night theme colors

### Version

v35.10.0

### Browser

Chrome

[2022-09-23 18:16] #2319 closed

[2022-09-24 05:44] SaadBazaz opened #2370 "Body background color does not change when using "dark" theme"
### Description

The background color of the document's body should automatically update if I select the "dark", "night" or similar themes.

I don't know if this is **expected** behaviour. If it isn't, I'd certainly want it to be.

This is what I see in normal mode:
<img width="1264" alt="Screenshot 2022-09-24 at 10 40 22 AM" src="https://user-images.githubusercontent.com/51885228/192081946-686945

[2022-09-24 06:52] devephy commented on #2370
Did you find the help you needed?

[2022-09-24 06:53] SaadBazaz commented on #2370
Nope. Not yet.

[2022-09-24 10:43] SaadBazaz commented on #1050
Any update on this? Need it.

[2022-09-26 08:14] owenniblock commented on #2319
I suspect that the solution provided will cause problems for some screen readers. Looking at [the ARIA guidance for tabs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role) I can see that browsers automatically apply a role of presentation to any children of a `tab` element - we'd need to test against a range of screen readers to see how this behaves but I'd still stro

[2022-09-26 13:55] iansan5653 commented on #2319
Thanks, I didn't realize this. I tested this with VoiceOver on Chrome (and with the Chrome accessibility tree inspector) and it works, but I guess there's no guarantee of it continuing to work if that's incorrect behavior according to the spec.

It looks like we'll need further work to make this compliant (moving the button to become the first element of the active tab's contents, then using CSS t

[2022-09-26 14:18] owenniblock commented on #2319
Thanks a great idea @iansan5653 ! It totally makes sense to solve this at the component level in my opinion. cc @primer/react-reviewers - what's the best way to record this?

[2022-09-26 17:32] jscholes commented on #2281
@six7 I'd like to try and clear up some points of confusion:

These clicks should not be required.  In my accessibility sign off review for this component (https://github.com/github/primer/issues/1245#issuecomment-1242376489), I indicated that the behaviour for single-select use cases is currently suboptimal, and that Enter/click should be available to choose an item and close the panel.  That is

[2022-09-26 23:30] lesliecdubs commented on #2340
👋🏻 @siddharthkp at today's PRC sync, we swapped this in the place of another less urgent support issue. Do you think you could pick this up as part of your FR rotation this week since it's needed for Universe?

[2022-09-26 23:34] lesliecdubs commented on #2342
Thanks everyone. Pinging @hectahertz here as a reminder when he's back from being out so we can chat about where this should sit in the priority queue.

[2022-09-27 05:14] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #2346
It's still happening in v35.10.0.

[2022-09-27 11:22] siddharthkp commented on #2370
Hi!

Yep, this is intentional. ThemeProvider only affects the contents inside of it.

You can either wrap the entire page in a ThemeProvider and use `canvas.default` to set the background ([here's an example](https://codesandbox.io/s/dreamy-sun-7jmw63?file=/src/Playground.js:560-592)) or you can set styles on the body with [styled-components#createglobalstyle](https://styled-components.com/docs/ap

[2022-09-27 11:24] siddharthkp commented on #2370
I hope that answers your question!

Feel free to reply if not and I'll open the issue again

[2022-09-27 11:24] #2370 closed

[2022-09-27 15:16] bolonio commented on #2342
I'll leave here a link to a related discussion in the following issue:

- https://github.com/primer/react/issues/2281

[2022-09-27 21:03] Flaviano-Rodrigues opened #2381 "TextInput broke"
### Description

I was having a problem with TextInput. Whenever I placed an icon on it, for example using the prop "loading={true}" the input would break as shown in the screenshot below:

![screenshot](https://user-images.githubusercontent.com/112655909/192633822-df15495a-4851-44a0-b0e8-7719ba180992.png)

But if you put the prop "sx" in the input like "sx={{ flexWrap: 'nowrap' }}", the input doe

[2022-09-28 08:06] SaadBazaz commented on #2370
@siddharthkp got it! Makes sense anyway. I'll work on what you suggested.

About the screenshots; it's something I'm building which might be of interest to GH.

Let's talk, maybe?

[2022-09-28 14:12] siddharthkp commented on #2381
Hi!

I am trying to reproduce the bug with the code you provided but wasn't able to. 🤔

Can you provide a sandbox with a reproduction? Here's a starting point: https://codesandbox.io/s/kind-driscoll-w7wfrb?file=/src/App.tsx:209-338

Thank you!

[2022-09-28 14:20] Flaviano-Rodrigues commented on #2381
Hi!

In Fact, in your sandbox it worked normally. I will check here and analyze what may be happening and I will return with the answer.

[2022-09-28 15:13] Flaviano-Rodrigues commented on #2381
I found the problem. In my styles.css I put it so that all elements have "flex-wrap: wrap;". Then the TextInput breaks. As I've been using this for a while and I've never had a problem I wouldn't imagine that was it. Sorry for the mistake.

[2022-09-28 15:13] #2381 closed

[2022-09-28 15:14] siddharthkp commented on #2381
No worries, thanks for reporting back :)

[2022-09-28 15:15] siddharthkp commented on #2370
Yeah, feel free to [DM me](https://twitter.com/siddharthkp) :)

[2022-09-29 18:37] ichelsea commented on #2281
I don't have anything else to add here other than I 100% agree with @jscholes!

[2022-09-29 19:34] joshblack opened #2385 "[PageLayout] The `Content` component scrolls in `sticky` stituations"
### Description

The `PageLayout.Content` component seems to have its content scrolled when there is a sticky header or sticky pane present.

### Steps to reproduce

You can see this issue on both the Sticky Pane and Custom Sticky Header stories:

- https://primer.style/react/storybook/?path=/story/layout-pagelayout--sticky-pane
- https://primer.style/react/storybook/iframe.html?args=&id=layout-pa

[2022-09-30 09:58] azenMatt commented on #2281
Can we do something to mark https://github.com/primer/react/issues/2342 as blocked until the above changes are implemented and this has had a chance for user feedback?

As @six7 has covered this would have some major customer pushback for us if it were to be released as is. This essentially would block us from any primer upgrades if it become part of a major version release as seems to be indicate

[2022-09-30 23:18] mijpeterson opened #2392 "Button: Outline variant hover border is not applied correctly"
### Description

"outline" variant buttons, on hover, do not apply the theme's hoverBorder color.
![image](https://user-images.githubusercontent.com/110266616/193368099-975093f7-13c2-44ef-8c97-38d2ab4fd9be.png)

This is likely due to a typo inside the Button styles file: https://github.com/primer/react/blob/main/src/Button/styles.ts#L135

That line is currently written as:
[code]
when it should pr

[2022-10-01 17:23] MihirGH commented on #2385
Hi! Can I take a look at this bug?
Would like to land some contributions as part of Hacktoberfest 22

[2022-10-01 17:57] MihirGH commented on #2385
@joshblack actually the scroll that you are seeing is because of the custom interaction that runs on these two particular stories of sticky pane and sticky header. If you comment out `CustomStickyHeader.play` and `StickyPane.play` inside `src/PageLayout/interaction.stories.tsx` then the automatic scroll won't happen in these two stories.

[2022-10-03 16:00] rezrah commented on #2351
Could this be happening because those props should be transient? https://styled-components.com/docs/api#transient-props

We'd need to upgrade `styled-components` to `5.1` from `4.4` (😬) to verify this, but this issue has been happening for a while in this library.

[2022-10-03 16:38] tallys commented on #1979
Update, @langermank is working on resolving this right now 🎉

[2022-10-03 17:05] joshblack commented on #2385
Ah perfect, thanks @MihirGH! That's totally it. I'll close this issue out since it's intended from the play functions. Thanks again!

[2022-10-03 17:05] #2385 closed

[2022-10-03 17:10] joshblack commented on #2346
Hi there! 👋 Thanks for taking the time to make this bug report 🙏

This should be addressed in the latest Release Candidate (`35.11.0-rc.65a8bb8a`) which should be published this week. I used this version in the test repo and it seems to have addressed the problem but let me know if not!

I'll also make sure to update this issue once the latest RC is promoted to stabe 👍

[2022-10-04 18:47] MihirGH commented on #2218
Hi! I took a look at this bug because it seemed interesting and after a few days of exploration I was able to figure out the reason why this is happening. So the whole flow goes like:

NextJS's Link component stores the ref internally and inside the callback ref, it uses the element to keep track of whether the element is visible or not [here on line 414](https://github.com/vercel/next.js/blob/HEA

[2022-10-06 15:21] jchuerva opened #2411 "The aria-keyshortcuts is wrongly attached for the ActionList.LinkItem components"
From https://github.com/github/repos/issues/3034

It looks like for `ActionList.LinkItem` component, the `aria-keyshortcuts` is attached the the `<a>` instead of `<li>` which is incorrect.

![image](https://user-images.githubusercontent.com/5942864/194352716-0fe7c774-1651-4470-b5f8-1326b2f1b088.png)

[2022-10-09 13:16] #2011 closed

[2022-10-10 23:28] lesliecdubs commented on #2411
Thanks for reporting this bug, @jchuerva! This looks like it'll require a slightly more complex fix so we're moving it to our backlog for now but hope to revisit soon.

[2022-10-11 11:16] glebbash commented on #1971
Have a similar problem with ActionMenu in Dialog

[2022-10-11 13:08] siddharthkp commented on #2411
Leaving here for who would work on this: After moving aria-keyshortcuts, need to make sure the link can still be opened with keyboard

[2022-10-11 14:47] iansan5653 opened #2422 "`MarkdownEditor` should allow lazy-loading suggestions"
In order to reduce API load and improve time-to-render, we want to lazy-load suggestions in Projects by waiting until the suggestions are actually needed before making the API request (see https://github.com/github/memex/issues/12396). The `MarkdownEditor` doesn't support this at the moment, so it would like require changing the props to accept functions instead of (or in addition to) the suggesti

[2022-10-11 14:50] japf commented on #2422
cc @anleac as we discussed this topic today while working on https://github.com/github/issues/issues/3377

[2022-10-11 14:51] iansan5653 opened #2423 "`MarkdownEditor` suggestions break when querying by 3 or more characters"
We noticed an odd bug in Projects today (https://github.com/github/memex/issues/12620) -- when the user types more than 2 characters to filter the suggestions list, the suggested values become completely incorrect. For 2 or fewer characters, the suggestions make sense, but something seems to break after that. I was able to reproduce this by adding a few more suggestions to the `MarkdownEditor` sto

[2022-10-11 17:13] iansan5653 commented on #2423
I've found out that this is because `fzy.js` (the fuzzy filtering library we are using) returns `Infinity` if the length of the match item is less than the length of the query. Very odd.

[2022-10-11 21:07] filipedeschamps commented on #2346
@joshblack using the RC `35.11.0-rc.65a8bb8a` version I'm receiving another error:

[code]

[2022-10-11 21:11] filipedeschamps commented on #2346
The same error goes for the version you just published: `35.11.0-rc.66f86207`

[2022-10-11 21:19] filipedeschamps commented on #2346
This regression started in this release: https://github.com/primer/react/releases/tag/v35.6.0

[2022-10-11 21:44] joshblack commented on #2346
Hey @filipedeschamps! Thanks for following up on this. Just a quick update on my end, it seems like there is a publishing flow that came up for this that I talked about over in: https://github.com/primer/react/pull/2404#issuecomment-1268963347

I have a PR open for this upstream that should address this: https://github.com/primer/.github/pull/8. Once that's in, we can revert the changes from #2404

[2022-10-12 12:16] #2423 closed

[2022-10-12 12:16] #2422 closed

[2022-10-12 12:34] siddharthkp opened #2426 "[Bug] jest test helpers is missing ResizeObserver. unobserve"
### Description

[utils/test-helpers.tsx](https://github.com/primer/react/blob/main/src/utils/test-helpers.tsx) is missing `unobserve`

Found this while testing it in memex: https://github.com/github/memex/actions/runs/3234611074/jobs/5297929438

After we add this to primer/react, we can remove the local override in memex: https://github.com/github/memex/blob/55746cf4ebfd0b07da6bbee38dcb6442575428

[2022-10-13 13:41] archlabx opened #2430 "Warning occurs `PageLayout` within Next.js"
### Description

If `PageLayout` is used within Next.js, `useLayoutEffect` and `useMedia` warning occurs like https://github.com/primer/react/issues/1453.

[code]

### Steps to reproduce

1. `yarn create next-app --typescript`
2. `yarn add @primer/react styled-components`
3. Make `Layout` with `import {PageLayout} from '@primer/react'` in `Layout.tsx`
4. Wrap `<Component {...pageProps} />` around

[2022-10-14 03:31] lesliecdubs commented on #2011
Noting that the new `UnderlineNav` v2 (currently a draft that will replace the existing `UnderlineNav` upon completion) will support icons https://primer.style/react/drafts/UnderlineNav2#with-icons and counters https://primer.style/react/drafts/UnderlineNav2#loading-state-for-counters, thanks to @broccolinisoup! 😃

I'm going to update this issue to "closed as completed." Keep your eye on the [Prim

[2022-10-14 03:36] lesliecdubs commented on #2218
Thank you for doing some further investigation here, @MihirGH! I'll move this back to our team's inbox to see if anyone has capacity to weigh in on your suggested approach this month.

[2022-10-14 04:52] lesliecdubs commented on #2281
@azenMatt:

Noting here that #2342 has been cross-linked to this issue.

The feedback @jscholes referenced above https://github.com/github/primer/issues/1245#issuecomment-1242376489 was actually already implemented and released in a recent Primer React minor version, but in doing so we broke the semver expectations for our consumers because the work introduced a breaking change. I'll work with the

[2022-10-14 04:55] lesliecdubs commented on #1050
Hi @SaadBazaz! Checkboxes and radio inputs both exist in Primer React now. Here are some links to the docs:
- [Checkbox](https://primer.style/react/Checkbox)
- [Radio](https://primer.style/react/Radio)

[2022-10-14 05:00] lesliecdubs commented on #2319
Thanks for the follow up and clarification on best practice @owenniblock!

@iansan5653 would one of you be willing to write up a fresh issue in this repo outlining the `activeTabButton` proposal, and the PRC crew will review at our next weekly sync?

[2022-10-14 05:18] SaadBazaz commented on #1050
Awesome. Thanks for the update, @lesliecdubs .

[2022-10-15 16:56] Swiftwork commented on #1809
Not stale

[2022-10-17 21:22] jclem commented on #1956
This affects all props on `Button` other than the generic indexed properties for `string`, `number` and `symbol`. None of the other props are type-checked or offered up by language server assistance.

[2022-10-18 12:36] mattcosta7 opened #2450 "Audit components for type-safety around `forwardRef`"
Related to: https://github.com/primer/react/pull/2445

In a discussion in slack, we discovered that types for `Button` were incorrect for consumers, effectively making them `React.FunctionComponent<any>` instead of maintaining rich types.

After a quick investigation, it appeared like types were fine, going into the `forwardRef` that returned `ButtonComponent` but that they lost fidelity on that a

[2022-10-19 00:45] broccolinisoup opened #2453 "Importing a package from @primer/react/drafts on CodeSandbox errors out"
### Description

When importing a component from @primer/react/drafts on CodeSandbox throws an error `Could not find module relative to ...` and this errors goes back to 35.4.0 with the drafts entrypoint.

![a screenshot that shows the error: Could not find module relative to](https://user-images.githubusercontent.com/1446503/196557464-bc6e2444-6256-4fc9-bb87-c8b54ba9226d.png)

Sample CodeSandbox

[2022-10-19 16:04] mattcosta7 opened #2454 "Autocomplete breaks in tests run with jsdom and vitest"
### Description

This issue may better exist on [primer/behaviors ](https://github.com/primer/behaviors/issues/150) (or even upstreamed to jsdom if we can repro simply enough)

Initially reported in slack by @itsbagpack
https://github.slack.com/archives/C01L618AEP9/p1666186967969609

:wave::skin-tone-2: hi friends, i’m running into some testing issues around using the Autocomplete component and i

[2022-10-19 21:37] mattcosta7 opened #2457 "leadingIcon and similar props should pass React.ReactNode instead of components"
When passing props like the `leadingIcon` and `trailingIcon` props on a button, it's not uncommon to pass something that relates to props from the containing function.

Currently, to do this one needs to wrap this in a function

[code]

This leads to `Button` needing to render more often than necessary

we could always memoize this, of course

[code]

But react already has a built in mechanism for

[2022-10-19 22:40] langermank commented on #2457
If this is a breaking change (I'm not sure just by reading through the suggestion) I happen to have a [PR](https://github.com/primer/react/pull/2374) going with some other Button improvements. I wonder if it would be worth exploring this as well.

[2022-10-20 11:27] ArthurClemens opened #2458 "Select with placeholder gives console warning"
### Description

`Select` with prop `placeholder` results in a warning:
[code]

### Steps to reproduce

- [CodeSandbox with problem](https://codesandbox.io/s/primer-react-select-warning-tbz3td?file=/src/App.tsx)
- [CodeSandbox with solution direction](https://codesandbox.io/s/primer-react-select-warning-solution-hf21gu?file=/src/App.tsx)

### Version

v35.12.0

### Browser

Chrome

[2022-10-20 18:04] joshblack opened #2461 "Update test suite to fail on `console.*` calls"
Currently there are `console.{error,warn,log}` statements being emitted when running `npm test`. This can be confusing to contributors who may not understand if the issues are pre-existing or caused by changes that they made when making a contribution.

This issue has two goals:

- [x] Add a system by which we can fail tests that call `console.{error, warn, log}` (Note: `console.log()` should only

[2022-10-20 19:13] davekenn commented on #2340
Any updates?

[2022-10-21 02:56] lesliecdubs commented on #2340
Thanks for pinging us again @davekenn.

@joshblack are you willing to dive into this one by Monday since it's related to a Universe ship? Feel free to bring in our Accessibility Design & Engineering friends if you need any second opinions on the focus behavior.

[2022-10-21 03:08] lesliecdubs commented on #1809
Sorry for the delay on this, @Swiftwork. Are you able to share any details about the desired behavior you're trying to accomplish in your application? It'd also be helpful if you could share a reproduction of the problem; you can fork this sandbox template if you'd like: https://codesandbox.io/s/primer-react-qyyepc. Thanks!

[2022-10-21 03:12] lesliecdubs commented on #2450
Also seems related: #1956

[2022-10-21 11:37] mattcosta7 commented on #1956
I believe https://github.com/primer/react/pull/2445 fixes this

[2022-10-21 16:20] joshblack commented on #2340
@lesliecdubs definitely! I'll take a look 👀

[2022-10-21 16:29] joshblack commented on #2340
Something that is a little confusing for `ActionMenu` in this scenario is that it has `role="menu"` semantics, so descendants should only be of `role="menuitem"`, `role="menuitemradio"`, or `role="menuitemcheckbox"` (or a group containing these roles)[^1].

Is there an alternative that is recommended for this situation where it seems like the intent is more of a disclosure pattern?

[^1]: https://

[2022-10-21 21:01] joshblack commented on #2346
Just wanted to follow-up on this, this should be addressed as of 35.12.0! 🥳

Going to close this issue out as a result, but let me know if you're still running into this and I can re-open!

[2022-10-21 21:01] #2346 closed

[2022-10-23 09:11] archlabx opened #2469 "Draft components occurs ESM `import` error"
### Description

[code]

[2022-10-23 21:39] mattcosta7 commented on #2043
Not stale

[2022-10-24 18:09] joshblack commented on #2340
Just a quick update on this, have an interim fix over at: https://github.com/primer/react/pull/2468

However, it seems like the ideal here is to avoid using `ActionMenu` due to `role="menu"` semantics. Due to these semantics, having items other than menu items will be confusing to screen readers. It seems like using `AnchoredOverlay` to create something custom is preferred at the moment.

I think

[2022-10-24 21:16] joshblack commented on #2245
Hi there! 👋

This should be addressed in latest (`v35.12.0`) through updates to the `"exports"` field and the CommonJS entrypoint. The CommonJS entrypoint will be an interim fix until the project moves to ESM-only.

Going to close this out as a result, feel free to comment and I can re-open if this is still an issue!

[2022-10-24 21:16] #2245 closed

[2022-10-24 22:13] joshblack commented on #2469
Hi there @archlabx! 👋

Thanks for taking the time to make this issue 🙏 Unfortunately, I'm not able to replicate the issue that you're running into. Could you share additional steps to help reproduce?

To try and reproduce, I created a Next.js app and imported both `TreeView` and `MarkdownEditor` from `@primer/react/drafts` but couldn't run into the `Module note found` error that was shared.

[2022-10-24 22:44] lesliecdubs commented on #2281
After discussing with PRC maintainers, we've determined that releasing the next major before Universe risks bugs, churn, and frustration from consumers. As per https://github.com/github/primer/issues/1294#issuecomment-1289723555, we're currently planning to release the version with `SelectPanel` fixes in January 2023. FYI @azenMatt

[2022-10-25 12:49] siddharthkp opened #2479 "ActionMenu does not have hover styles in Dark high contrast theme"
### Description

https://user-images.githubusercontent.com/1863771/197777432-8afc5d79-a5ad-43b8-a3ec-00f92897e5b3.mov

### Steps to reproduce

1. Go to https://primer.style/react/ActionMenu
2. Change theme to Dark high contrast
3. Hover on menu items

### Version

v35.12.0

### Browser

Chrome

[2022-10-25 13:51] peterbe commented on #2229
@siddharthkp Any news on this?
We see reports of this trickling in from other people who have a OS theme that doesn't match their GitHub theme.

[2022-10-25 15:01] #1956 closed

[2022-10-25 15:17] #2340 closed

[2022-10-26 10:47] Haikyuu77 commented on #2250
hey @siddharthkp, can I work on this issue?

[2022-10-26 16:22] joshblack commented on #2291
Closed by https://github.com/primer/react/pull/2360

[2022-10-26 16:22] #2291 closed

[2022-10-26 16:32] #2351 closed

[2022-10-31 14:51] joshblack opened #2500 "Checkbox no longer has padding styles"
### Description

The `Checkbox` component no longer has padding between the `<input>` and the `<label>`. This was a regression in v35.12.0.

Expected behavior from 35.11.0: https://primer-7045de1bbe-13348165.drafts.github.io/Checkbox

![image](https://user-images.githubusercontent.com/3901764/199037193-801ccb85-3ae7-4da3-86f9-9df40b76feaa.png)

Current behavior from latest:

![image](https://user-

[2022-10-31 14:52] siddharthkp commented on #2500
the one week we didn't have chromatic 🤦

[2022-10-31 15:47] tallys commented on #2218
@lesliecdubs pinging you since it's a team capacity question

[2022-10-31 15:59] tallys commented on #2479
@siddharthkp let's prioritize a fix for a11y sake

[2022-10-31 16:01] jdrush89 opened #2501 "TreeView not scrolling properly"
### Description

The Treeview seems to scroll as keyboard focus moves around only if list items are lined up with the top/bottom of the viewport. If the item is half in and half out of the viewport, the scroll stops happening.

### Steps to reproduce

Go to https://jdrush89-primer-upgrade-and-file-tree.review-lab.github.com/microsoft/TypeScript/tree/main/src and try navigating through the tree wit

[2022-10-31 20:01] jdrush89 opened #2505 "TreeView scrolling instead of selecting"
### Description

If I scroll the currently active file out of view in the tree, then try to click on a file to select it, it scrolls the active file back into view instead of selecting.

### Steps to reproduce

1. Go to https://jdrush89-primer-upgrade-and-file-tree.review-lab.github.com/primer/react/blob/main/src/ActionMenu.tsx
2. scroll the tree down and try to select a file like Spinner.tsx
3. T

[2022-11-01 01:27] lesliecdubs commented on #2229
Hi @peterbe, thanks for your patience. We haven't heard reports of this outside of the docs. Can you give us a sense of how many user reports you've received about this recently?

In the meantime, I'll move this back to our project board's inbox to review/prioritize again with the team.

[2022-11-01 06:30] ayobamiseun commented on #2500
can i fix this issue

[2022-11-01 14:18] #2316 closed

[2022-11-01 16:28] #2500 closed

[2022-11-02 16:23] #2426 closed

[2022-11-02 18:27] colebemis commented on #2501
This should be fixed by upgrading in `@primer/behaviors` v1.3+

[2022-11-02 18:30] colebemis opened #2519 "Incorrect types for IconButton"
### Description

IconButton incorrectly allows a `leadingIcon` prop to be passed to the component.

[code]

Orginally reported by @milemons in [this Slack thread](https://github.slack.com/archives/C0357UQ03KN/p1667399595359759?thread_ts=1667330297.439599&cid=C0357UQ03KN)

### Steps to reproduce

See this StackBlitz for a reproduction of the bug: https://stackblitz.com/edit/react-ts-nyunix?file=App

[2022-11-02 19:49] jdrush89 opened #2522 "Resizable SplitPageLayout.Pane is not keyboard accessible"
### Description

The resizer on the SplitPageLayout.Pane should be focusable and able to be adjusted using the arrow keys.

### Steps to reproduce

1. Go to https://primer.style/react/SplitPageLayout
2. Try to focus the resizer in the resizable example using tab
3. See that the resizer is not in the tab order and cannot be change with the keyboard.

### Version

v35.14.0

### Browser

Chrome

[2022-11-02 21:19] #2505 closed

[2022-11-03 15:12] milemons commented on #2124
Hello! Would it be possible to get this prioritized? 🙏  We currently can't use the tooltip component (and have been relying on `title` for most elements due to it being clipped (since we have `overflow: hidden` or `zIndex: 1` set on many items.

We also have had some issues where the tooltip position does not change automatically and sometimes the tooltip is cut off the page (ie. if there's a butt

[2022-11-03 15:13] milemons commented on #2124
Related issue: https://github.com/github/repos/issues/3485
And related slack discussion for another issue: https://github.slack.com/archives/C0357UQ03KN/p1667487768081549

[2022-11-03 17:56] lesliecdubs commented on #2124
Thanks all, I've moved this back to the PRC Inbox to review again on Monday. We'll look into prioritizing it in time for Repos GA, which I've been told is planned for January.

[2022-11-04 16:19] #2328 closed

[2022-11-04 19:04] joshblack opened #2536 "React 18 Support"
This issue is an umbrella for all issues associated with internally updating PRC to use React 18.

- [ ] Docs
  - [ ] Update `react` and `react-dom` to React 18
  - [ ] Optionally, update gatsby to v4 and doctocat theme
- [ ] Storybook
  - [ ] The following dependencies cannot be updated as they have no published version supporting React 18. We'll need to decide if it's okay to remove them and if

[2022-11-07 18:04] #1680 closed

[2022-11-07 22:40] lesliecdubs commented on #1979
Noting that the linked PR includes breaking changes, so we'd schedule them to go out with the next major release.

[2022-11-07 23:00] lesliecdubs commented on #2501
@jdrush89 thanks for reporting! I'm going to close this out as the solution is upgrading the behaviors package, but please reopen or comment back if you need more support.

[2022-11-07 23:00] #2501 closed

[2022-11-07 23:04] joshblack commented on #2469
Hi there @archlabx! 👋

Going to close this out due to inactivity. Let me know if you're still running into this issue and I'd be happy to take a look into this!

[2022-11-07 23:04] #2469 closed

[2022-11-07 23:24] justinbyo commented on #2229
We reviewed this during our weekly triage and we moved it to unprioritized backlog. It's on our radar, but since it's not breaking the experience, we're going to de-prioritize and pick this up when we have the resourcing.

[2022-11-07 23:55] mattcosta7 opened #2548 "Markdown editor is laggy to inputs"
### Description

It seems like every keystroke on the markdown editor has a slight delay, which appears to be related to slots and the inline auto complete (from a very minimal bit of debugging)

@brasic noted

<img width="796" alt="Screen Shot 2022-11-07 at 4 31 10 PM" src="https://user-images.githubusercontent.com/8616962/200440381-adf4625c-a528-4fb6-8555-7f8773eef380.png">

Single keystroke tra

[2022-11-08 01:32] simurai commented on #1680
🔗  Cross-link to https://github.com/github/mobile/issues/3342 where GitHub Mobile is also considering using Primer CSS for Markdown styling.

[2022-11-08 18:37] eiiot opened #2558 "TypeError: can't access property "theme", props is undefined with `MarkdownEditor`"
### Description

Whenever I try to use inline suggestions in `MarkdownEditor` with NextJS 12, the page throws an error:

`TypeError: can't access property "theme", props is undefined`

According to NextJS, the error is occuring in the `<ForwardRef>` component.

I've tried using `next/dynamic` to import the component, but I get the same result

### Steps to reproduce

1. Install `@primer/react` wit

[2022-11-14 22:28] joshblack opened #2581 "Update enzyme code to use React Testing Library"
As we make our transition to React 18, it will be helpful to update code that is currently using `enzyme` to `@testing-library/react`. This is because `enzyme` support does not extend past React 16. However, starting in React 17, unofficial adapters have been created to help bridge the gap which are currently being used in this project.

This issue tracks the usage of `enzyme` across the project a

[2022-11-14 22:33] joshblack opened #2582 "Remove `@whitespace/storybook-addon-html` from storybook"
This issue tracks removing `@whitespace/storybook-addon-html` from storybook as it does not support React 18.

It seemed appropriate to remove this as a result, however if there is a use-case for this let me know! Any alternatives would be very much so appreciated 🙏

[2022-11-14 22:58] rezrah commented on #2582
👋 @joshblack this was added to help the accessibility team view rendered output more easily in Storybook in a11y reviews. Unsure how frequently it's used, but worth checking in with @alliethu about it.

[2022-11-15 15:57] langermank commented on #2582
I agree this plugin is useful for accessibility review and also general development, but I don't think it should be a blocker. Perhaps we could make our own addon to accomplish this 😄 I bet it would be simple? (famous last words)

[2022-11-15 16:07] joshblack commented on #2582
Thanks so much for the context @rezrah @langermank! I appreciate it 🙏

Do either of you know of an alternative by any chance? I'll also keep an eye on the repo as it seems like they have been making changes recently. It seems like right now they have react-dom@18 as a peer dep but not react 🤔

Looking forward, worse-can we can definitely bring it over as a custom add-on 👍

[2022-11-16 02:27] lesliecdubs commented on #2059
@rezrah @joshblack do you think the Playwright tests we've added help solve for the problem laid out in this issue, or is there more to do?

[2022-11-16 15:39] lindseywild opened #2585 "Use PVC Dialog as inspiration for PRC Dialog"
## Context

It was discovered in the [Dialog v2 draft](https://primer.style/react/drafts/Dialog) guidelines that the Dialog is proposed to stay open when clicking outside. From an accessibility perspective, a dialog should always close when clicking outside.

A lot of work was done on the [PVC Dialog](https://primer.style/view-components/components/alpha/dialog) which has sign-off from the Accessi

[2022-11-16 22:12] joshblack commented on #2059
@lesliecdubs I think Playwright gives us the capability to capture these kinds of interaction tests but unfortunately we would still need to add/write these tests. As an idea, I think there are some that we could capture in an automated way and I bet some of the more common ones (like open/close) could also be included in that

[2022-11-17 16:39] #2581 closed

[2022-11-18 16:27] maximedegreve commented on #2008
Cross posting: https://github.com/github/primer/issues/1244

[2022-11-18 16:39] khiga8 opened #2595 "Default example for `Tooltip` is inaccessible"
The default example for the `Tooltip` doc is on a static element, which we really want to discourage. Tooltip on a static element is one of the most common accessibility issues we're seeing in dotcom, and it's usually a design problem that can't easily be fixed.

Until https://github.com/github/primer/issues/1244 is implemented, I propose we update this example to use an interactive element, empha

[2022-11-18 17:42] green6erry commented on #2458
It looks like this was resolved with PR https://github.com/primer/react/pull/2511 👍

[2022-11-18 17:42] #2458 closed

[2022-11-21 13:20] SaadBazaz opened #2601 "MarkdownEditor Preview renders [object Object]"
### Description

There's not much in the docs to explain how the onRenderPreview works:

<img width="724" alt="Screenshot 2022-11-21 at 6 12 17 PM" src="https://user-images.githubusercontent.com/51885228/203063971-429f15b6-da8e-4676-8988-7c5f7771d725.png">

I assumed that the ```renderMarkdown``` function has to 'parse' the markdown and return html.

I tried:
[code]
and
[code]

but both of them re

[2022-11-21 13:45] SaadBazaz opened #2602 "[Component Request] File Explorer"
A GitHub-like File Explorer.

<img width="850" alt="Screenshot 2022-11-21 at 6 43 56 PM" src="https://user-images.githubusercontent.com/51885228/203070321-6ed1698d-ddcb-4990-8c4b-b73c10ca8d95.png">

Possible Inputs:
- File Directory Structure, with a fixed data type (type: "dir" or type: "file", and other similar controls).
- List item controls
- Action bar on top

[2022-11-21 22:53] lesliecdubs commented on #2582
We reviewed at the PRC planning meeting today. No one had ideas for an alternate addon for this behavior. +1 to adding it as a custom add-on for now if the accessibility team requires it for their review.

[2022-11-21 22:54] mattcosta7 commented on #2548
@lesliecdubs I think the underlying issue is

- https://github.com/github/primer/issues/1224

I'm not sure there's a simple path to a fix here without wholesale improvements to the 'slots' pattern, which, I assume, is the cause of most of the churn here - but could be wrong

[2022-11-21 22:57] lesliecdubs commented on #2585
Thanks Lindsey!

@primer/react-reviewers does anyone remember/know who worked on the PRC Dialog v2? I don't recall the team working on this one recently.

[2022-11-21 23:02] lesliecdubs commented on #2595
Thanks @khiga8! Dropping a link to the Tooltip docs page for reference: https://primer.style/react/Tooltip

[2022-11-21 23:03] mperrotti commented on #2595
@khiga8 - what do you mean by "static element"? Do you mean that it's an element that isn't focusable?

[2022-11-21 23:04] khiga8 commented on #2595
@mperrotti Yep! By static, I meant non-interactive, non-focusable.

[2022-11-21 23:05] khiga8 commented on #2595
I keep saying static but non-interactive is probably a better term :D

[2022-11-21 23:08] khiga8 commented on #2595
From [Tooltip alternatives](https://primer.style/design/accessibility/tooltip-alternatives):

[2022-11-22 14:07] SaadBazaz opened #2605 "[Component Request] File Upload Input"
A file upload input, like the browser's default one, but more... GitHub. :)

Or, better yet, a generic <Input> component which takes `type="file"`, `type="checkbox"`, etc. Haven't come across that yet.

[2022-11-22 14:43] mperrotti commented on #2595
@khiga8 - is it ok to put a tooltip on a non-interactive element that has `tabindex=0`? That would at least make it focusable

[2022-11-22 14:49] khiga8 commented on #2595
@mperrotti No, tooltip must be on a natively interactive control. I had the same question when investigating tooltip a while back, and here's a bit more context from @jscholes on why it would not be appropriate [from an internal issue comment](https://github.com/github/accessibility/issues/331#issuecomment-952157307):

.. and a follow up:

[2022-11-22 15:05] SaadBazaz commented on #2605
Thanks for sharing!
It's nice.

Would prefer if it was part of Primer. And more importantly, Primer React :D

[2022-11-23 01:11] lesliecdubs commented on #2605
Noted, @SaadBazaz! We'll keep this on our radar, although know that we don't have near-term plans to build a React file attachment component. cc @justinbyo

[2022-11-23 01:18] lesliecdubs commented on #2059
@joshblack makes sense! Do you think it's useful to keep this issue open for tracking purposes, or is it better to fold in expectations for devs to write these tests as they work on new areas of the codebase and backfill tests any time folks touch older components?

[2022-11-23 01:23] lesliecdubs commented on #2602
Hi @SaadBazaz, thanks for requesting this component! Could you provide any more detail on the use case you have for this pattern as a standalone component?

We are working on the design for a new `DataTable` pattern that could potentially serve a similar purpose, although it is meant more to display tabular data than list data.

cc @justinbyo

[2022-11-23 01:50] SaadBazaz commented on #2602
Building a watered-down file explorer for git repos. Very similar to Github Web.

Ik it'll just be an abstraction over ActionList, etc, but it'd be cool to have.

Data Table might be better tbh.

[2022-11-23 02:12] lesliecdubs commented on #2602
Thanks for the context! We'll update you here if we prioritize this.

In the meantime, keep your eye on the Primer React release notes; `DataTable` is likely coming in the first half of the new year.

[2022-11-23 09:44] rezrah commented on #2059
👋 Coming in a bit late here, sorry 😅 ...

Just wanted to mention that I have visual regression testing on Storybook interactions working in Primer Brand. Both done through Playwright.

There's a demo of it how it works here: https://www.loom.com/share/ca43c56587774835b02cd45ce89de002

TL;DW

We have stories in Storybook like this:

- [SubDomainNavBar in mobile, showing search results](https://gith

[2022-11-23 23:01] samuela opened #2611 "Spinner does not support dark mode"
### Description

`Spinner` does not seem to have any support for dark mode AFAICT. Here's what it looks like:

<img width="143" alt="Screen Shot 2022-11-23 at 2 58 29 PM" src="https://user-images.githubusercontent.com/226872/203660096-886c828b-b962-49ab-85f2-19602fc82ec6.png">

### Steps to reproduce

[code]

### Version

35.14.2

### Browser

Chrome

[2022-11-24 02:15] broccolinisoup commented on #2059
Hi all 👋🏼

@lesliecdubs we can definitely add guidance around VRT for interaction tests! Currently, we have [Interaction tests](https://github.com/primer/react/blob/main/contributor-docs/testing.md#interaction-tests) as a section but they are more about unit tests and Storybook interaction test and not so much about Playwright or from a VRT standpoint. Also we don't have anything documented about

[2022-11-24 14:40] siddharthkp commented on #2611
Hi!

Spinner gets it's foreground colors from the parent, so along with `ThemeProvider`, you would need to wrap your app in `BaseStyles` as well

[code]

Sandbox: https://codesandbox.io/s/magical-franklin-41yrk7?file=/src/App.tsx:484-519

[2022-11-24 14:42] siddharthkp commented on #2611
Closing this issue as answered, but feel free to comment back if this doesn't help and I'll open it again :)

[2022-11-24 15:08] siddharthkp commented on #2601
Hi!

`onRenderPreview` expects a return of promise that resolves to html string, while  `ReactMarkdown` returns a React component (which gets printed as `[Object object]`)

An example of this would be using unified + remark (the libraries behind react-markdown)

Docs: https://unifiedjs.com/learn/recipe/remark-html/#how-to-turn-markdown-into-html
Sandbox: https://codesandbox.io/s/laughing-tom-nslr5

[2022-11-24 15:09] #2611 closed

[2022-11-24 15:09] siddharthkp commented on #2601
Closing this issue as answered, but feel free to comment back if this doesn't help and I'll open it again :)

[2022-11-24 15:09] #2601 closed

[2022-11-24 18:59] samuela commented on #2611
Thanks so much @siddharthkp ! What does `BaseStyles` do exactly? Is there documentation for it anywhere? I was only aware of the existence of `ThemeProvider`

[2022-11-25 07:55] SaadBazaz commented on #2601
Thanks @siddharthkp . I'll test this out and let you know if it works.

[2022-11-25 14:30] siddharthkp commented on #2611
BaseStyles are responsible for injecting global styles for primer/github

Reference: https://primer.style/react/getting-started#basestyles
Source: https://github.com/primer/react/blob/main/src/BaseStyles.tsx

(It's opt-in because some applications at github inject globals throught a different library)

[2022-11-25 19:26] samuela commented on #2611
Ahhh, got it! Ok, thank you so much @siddharthkp !!

[2022-11-26 16:07] b6pzeusbc54tvhw5jgpyw8pwz2x6gs opened #2617 "When SSR, useLayoutEffect warning in UnderlineNav v2"
### Description

When entering a page with SSR in the nextjs project, the useLayoutEffect warning.

[code]

### Steps to reproduce

1. Run the nextjs development server.
2. Refresh the browser to enter the page via SSR.
3. Check the development server log (not the browser console log).

### Version

35.14.2

### Browser

_No response_

[2022-11-26 16:31] SaadBazaz commented on #2601
@siddharthkp Worked with unified!

[2022-11-28 02:53] broccolinisoup commented on #1701
👋🏼  I wonder if we will still be able to leverage these components in the new docs site? I was going to look into refactoring `PropsTableBasePropRows` function because when all the params are provided `sx`, `as`, `ref` are rendered but they don't meet our [new "alphabetically ordered props criteria"](https://github.slack.com/archives/C02NUUQ9C30/p1668712781089169). I think It would worth the fix i

[2022-11-28 03:09] broccolinisoup commented on #2293
👋🏼  just providing some context that might be helpful when we look into this issue.

-  https://github.com/github/accessibility-audits/issues/2939 might resolve the ActionList.LinkItem accessibility issue. If not, we should take this into account while working on ActionList semantics
- Regarding ActionMenu, I have a feeling it might be related to ActionMenu being a portal. We encountered the same

[2022-11-28 16:21] joshblack opened #2619 "Update `eslint-plugin-github` to `4.4.1`"
This issue tracks updating the `eslint-plugin-github` dependency to `4.4.1`. This work involves updating the following chain of dependencies:

- Update `eslint` to `^8.0.1`
- Update `@typescript-eslint/parser` and `@typescript-eslint/eslint-plugin` to latest
- Update `eslint-plugin-react-hooks`
- Update `eslint-plugin-react`
- Update `eslint-plugin-jsx-a11y`

[2022-11-28 16:51] tallys commented on #2585
@langermank can you take on the two immediate action items and then create/link to an issue?

@colebemis has more context - the two people who did the work on it no longer work here.

[2022-11-28 17:07] mattcosta7 commented on #2086
not stale

[2022-11-28 17:22] dgreif opened #2620 "[React 18] Ref type from `useDetails` is not compatible with Details"
### Description

With React 18, the `ref` value from `useDetails` is not compatible with the `ref` prop of `Details`.

[code]

I think the main issue is that the default ref [created in the hook](https://github.com/primer/react/blob/72043d7406066908d3b89f6c0238ac89d539051f/src/hooks/useDetails.tsx#L4) is of type `HTMLElement`, where the `Detail` ref knows it should be of type `HTMLDetailsElement`

[2022-11-28 17:25] dgreif opened #2621 "[React 18] ButtonClose type declarations are invalid"
### Description

When loading the PRC type declarations in a React 18 environment, there is a type error in the `node_modules/@primer/react/lib-esm/deprecated/Button/ButtonClose.d.ts` file:

[code]

Looking at this button compared to the other button types (which don't have issues), I think the main difference is that this one is set up to handle forward refs. Not positive what the fix is here, bu

[2022-11-28 17:35] mattcosta7 opened #2622 "IconButton and ActionMenu.Button types are incorrect"
### Description

<img width="960" alt="Screen Shot 2022-11-28 at 12 34 10 PM" src="https://user-images.githubusercontent.com/8616962/204343530-f5e0b967-066d-44b8-96cb-49f0a0f359d9.png">

<img width="895" alt="Screen Shot 2022-11-28 at 12 33 56 PM" src="https://user-images.githubusercontent.com/8616962/204343535-377397c7-39ed-4619-bdc3-b4f2392be9ea.png">

A similar issue was fixed in - https://gith

[2022-11-29 13:15] 72lions opened #2626 "Autocomplete.Overlay issue with TextInputWithTokens"
### Description

I'm using two `Autocomplete` components with the`<Input as={TextInputWithTokens}/>` one below the other. When there are any tokens in any of the inputs, then the `X`s on each token slip through the overlay of the other `Autocomplete`
<img width="320" alt="Screenshot 2022-11-29 at 14 04 53" src="https://user-images.githubusercontent.com/520279/204538074-34401213-6445-44eb-ac16-04dd

[2022-11-29 14:07] 72lions commented on #2626
I've confirmed that the problem is that the `RemoveTokenButton` style has `z-index:1`. When I remove it then there is no overlap problem anymore.

[2022-11-30 22:57] lesliecdubs commented on #2411
Good questions @green6erry! If you'd like an accessibility expert to weigh in on them, I'd suggest asking about this over in #accessibility on Slack or signing up for the next [Accessibility Eng+ Office Hours](https://github.com/github/accessibility/issues?q=is%3Aissue+is%3Aopen+label%3Ameeting+office+hours) for more hands-on support and advice.

This [helpful accessibility guide](https://github.c